services:
  php:
    image: yiisoftware/yii2-php:8.1-apache
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/app:delegated
    ports:
      - '8000:80'
    depends_on:
      - db
  db:
    image: postgres:11
    restart: always
    ports:
      - '54322:5432'
    volumes:
      - ./docker/db:/var/lib/postgresql/data
